<div id="datatable-container" class="center-align">
   <div class="row controls">
      <button mz-button (click)="onClickReload()" class="control">Reload</button>
      <a mz-button [href]="csvDataUri" [download]="csvExportFilename" class="control">Export to CSV</a>
   </div>
   <div class="row">
      <ngx-datatable
         class="material fixed-header"
         [rows]="model.submissions"
         [columns]="model.headers"
         [limit]="10"
         [headerHeight]="50"
         [footerHeight]="50"
         [rowHeight]="'auto'"
         [columnMode]="'force'"
         [scrollbarH]="true"
         [sortType]="'multi'"
      ></ngx-datatable>
   </div>
</div>
